* {
  color: #fff;
}

h3 {
  font-style: italic;
}

.landing-page {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  background-size: cover;
}

.content-container {
  width: 90%;
  height: fit-content;
  margin: 10vh auto;
  background-color: rgba($color: #303030, $alpha: 0.7);
  border-radius: 10px;
  padding: 20px;
}

.content-info {
  display: flex;
  gap: 1rem;
  margin: 30px;
}

.content-data {
  width: 60%;
}

.original-title {
  font-weight: lighter;
  font-style: italic;
  margin-top: -20px;
  border-bottom: 1px solid #3f3f3f;
}

.videos {
  width: 40%;
}

.videos-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  
  button {
    margin: 0.5rem;
  }
}

.categories-container {
  button {
    margin: 0.5rem;
    color: #fff;
  }
}

.card-tab {
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 3rem;
  width: 80%;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 159px;
  margin-top: 100px;
}

.card-poster {
  &:hover {
    transform: scale(1.1);
  }
}

.card-title {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    color: #4156c4;
  }
}

.card-date {
  color: #fff;
}

.btn-rating {
  top: 20px;
}

.container {
  position: relative;
  top: 100vh;
  height: fit-content;
}

.card-tab {
  color: #fff;
}

.mat-tab-label {
  color: #fff;
}

